@use "../helpers" as *;

.badge {
  display: inline-flex;
  padding: fluid(4, 2) fluid(14, 10);
  border-radius: rem(6);
  color: var(--color-light);
  border: rem(1) solid transparent;
  background: linear-gradient(var(--color-dark-10), var(--color-dark-10))
      padding-box,
    linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%)
      border-box;
  font-size: rem(16);

  @include laptop {
    border-radius: rem(4);
    font-size: rem(14);
  }
}
