@use "../helpers" as *;

.news {
  padding-block: fluid(80, 40);

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
    gap: rem(30);

    @include mobile-xs {
      grid-template-columns: 1fr;
      gap: rem(20);
    }
  }
}
