@use "../helpers" as *;

.tabs {
  &__header {
    border-bottom: var(--border);

    @include tablet {
      overflow-x: auto;
    }
  }

  &__buttons {
    padding-block: fluid(50, 20);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: rem(20);

    @include laptop {
      column-gap: rem(14);
    }

    @include tablet {
      width: max-content;
    }
  }

  &__button {
    padding: fluid(30, 18) rem(11);
    border: var(--border);
    border-radius: rem(8);
    font-size: rem(18);
    color: var(--color-gray-60);
    background-color: transparent;

    @include laptop {
      font-size: rem(14);
    }

    @include hover {
      color: var(--color-accent);
      border-color: var(--color-accent);
    }

    &.is-active {
      background-color: var(--color-dark-10);
      color: var(--color-light);
      font-weight: 500;
      pointer-events: none;
    }
  }

  &__content {
    &:not(.is-active) {
      display: none;
    }

    &:focus-visible {
      outline-offset: -1rem;
    }
  }
}
