@use "../helpers" as *;

.tag {
  @include fluid-text(20, 14);

  font-weight: 500;
  color: var(--color-light);
  padding: rem(6) rem(10);
  background-color: var(--color-dark-20);
  border-radius: rem(4);

  @include laptop {
    padding: rem(4) rem(8);
  }
}
